<div class='container'>
  <div class='col-md-5 text-center'>
    <h1><a href='/tables/pitchers/2014'>Pitchers</a></h1>
    <h4><a href='/tables/pitchers/starters/2014'>Starters</a></h4><h4><a href='/tables/pitchers/relievers/2014'>Relievers</a></h4>
  </div>
  <div class='col-md-5 text-center '>
    <h1><a href='/tables/batters/2014'>Fielders</a></h1>
  </div>
</div>
