<h1>Login</h1>
<form method="post" action="/login">
  <input type="text" name="email" value="email"><br>
  <input type="text" name="password" value="password"><br>
  <input type="submit"><br>
</form>
<hr>
<h1>Register</h1>
<form method="post" action="/login/new">
  <input type="text" name="first_name" value="first name"><br>
  <input type="text" name="last_name" value="last name"><br>
  <input type="text" name="email" value="email"><br>
  <input type="text" name="password" value="password"><br>
  <input type="submit">
</form>
